{% extends 'base.html.twig' %}

{% block title %}Reinitialiser son mot de passe{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="card border-dark">
            <div class="card-header" align="center">
                <h1>Reinitialiser mon mot de passe</h1>
            </div>
            <div class="card-body" align="center">
                <form method="post">
                    <div class="form-group">
                        <label for="email">Rentrez votre adresse mail : </label>
                        <input type="email" name="email" required>
                        <input type="submit" value="Reinitialiser mon mot de passe" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
{% endblock %}
