{% extends 'mail/base.html.twig' %}

{% block title %}Création d'une nouvelle demande par {{ company_name }}{% endblock %}

{% block header %}
    <tr>
        <td class="h2">
            Création d'une nouvelle demande par {{ company_name }}
        </td>
    </tr>
    <tr>
        <td class="bodycopy">
             Un nouveau ticket vient tout juste d'être crée.
        </td>
    </tr>
{% endblock %}

{% block body %}
    <tr>
        <td class="h2" align="center">
            Vous pouvez consulter directement ce ticket en cliquant sur le button ci-dessous.
        </td>
    </tr>
    <tr>
        <td class="bodycopy">
            <div align="center">

            </div>
        </td>
    </tr>
{% endblock %}