{% extends 'mail/base.html.twig' %}

{% block title %}Confirmation de réinitilisation de votre mot de passe{% endblock %}

{% block header %}
    <tr>
        <td class="h2">
            Confirmation de réinitialisation de votre mot de passe
        </td>
    </tr>
    <tr>
        <td class="bodycopy">
            Nous vous informons que votre mot de passe a bien été modifier. Si vous n'êtes pas à l'origine de cette démarche, re-changer au plus vite votre mot de passe et contactez nos services !
        </td>
    </tr>
{% endblock %}

{% block body %}
    <tr>
        <td class="h2" align="center">
            Je ne suis pas à l'origine de ce changement
        </td>
    </tr>
    <tr>
        <td class="bodycopy">
            <div align="center">
                <a href="{{ absolute_url(path('app_reset_password')) }}" class="BUTTON_WDO">Reinitialiser le mot de passe</a>
                <a href="" class="BUTTON_WDO">Contactez notre service</a>
            </div>
        </td>
    </tr>
{% endblock %}