{% extends 'mail/base.html.twig' %}

{% block title %}Bienvenue a marseille{% endblock %}

{% block header %}
    <tr>
        <td class="h2">
            Demande de réinitialisation de votre mot de passe
        </td>
    </tr>
    <tr>
        <td class="bodycopy">
            Vous avez réalisé une demande de réinitialisation de votre mot de passe. Nous vous invitons à cliquer sur le boutons plus bas afin de continuer votre démarche.
            Pour plus de sécurité vous n'aurez que 30 minutes pour le changer. Dépassé ce temps là, il vous faudra effectuer une autre demande.
        </td>
    </tr>
{% endblock %}

{% block body %}
    <tr>
        <td class="h2" align="center">
            Réinitialisation de votre mot de passe
        </td>
    </tr>
    <tr>
        <td class="bodycopy">
            <div align="center">
                Vous avez 30 minutes pour changer votre mot de passe. <br><br>
                <a href="{{ absolute_url(path('app_reset_password_new', {token: reset_token})) }}" class="BUTTON_WDO">Réinitialiser mon mot de passe </a>
            </div>
        </td>
    </tr>
{% endblock %}