{% extends 'app.html.twig' %}

{% block title %}Listes des Articles{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1 align="center">Nos articles</h1>
            <hr>
            {% if articles is not empty %}
                <div class="card border-infor">

                </div>
                    {% for article in articles %}
                        <div class="col-6 p-2">
                            <div class=" card border-info">
                                <div class="card-body">
                                    <div style="max-height: 100px;overflow: hidden;">
                                        {{ article.Title }}
                                    </div>
                                </div>
                                <div class="card-footer" align="right">
                                    <a href="{{ path('app_article_view', {article : article.getId}) }}" class="btn btn-primary">Lire l'article</a>
                                </div>
                            </div>
                        </div>

                    {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock %}
