{% extends 'app.html.twig' %}

{% block title %}Article - {{ article.title }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h2>{{ article.getTitle }}</h2>
            <div class="card mt-3">
                <div class="card-body">
                    {{ article.getContent|raw }}
                </div>
                <div align="right" class="card-footer">
                    Posté le <strong>{{ article.getCreatedAt|date('d/m/Y') }}</strong>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
