{% extends 'admin.html.twig' %}

{% block title %}Ajouter un anti-spam sur un email{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
        </div>
    </div>

{% endblock %}
